  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 24px !important;
  }
  .heading:hover{
    background-color: royalblue;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .heading_div2:hover{
    background-color: #a317a3;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    width: 30%;
  }
.main_js{
  width: 30%;
  font-size: 20px;
}
.copy_right_footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: slategray;
  color: black;
  line-height: 3;
  text-align: center;
}
 